{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <form method="post" class="">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
            </div>
        {% endif %}
                
        <div class="container-login befor-footer">
            <h1>Connexion</h1>
            <input name="email" type="text" aria-label="Entrez votre adresse mail" placeholder="Adresse e-mail" value="{{ app.request.request.get('email') }}" class="form-control form-control mb-3">
            <input name="password" type="password" aria-label="Entrez votre mot de passe" placeholder="Mot de passe" value="" class="form-control form-control mb-3">

            <button type="submit" aria-label="Se connecter à votre compte" class="btn btn-warning mb-3">Connexion</button>

            <a class="text-center" href="#">Mot de passe oublié ?</a>
            <br>

            <a class="btn btn-warning" href="{{ path('app_inscription') }}">Créer un compte</a>
        </div>



        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    </form>
{% endblock %}