{# <header>
    <nav class="navbar navbar-expand-lg bg-body" id="ftco-navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="{{ asset('images/logo.png') }}" alt="Logo" width="45%" class="d-inline-block align-text-top">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a href="{{ path('app_home') }}" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="{{ path('app_galerie') }}" class="nav-link">Galerie</a></li>
            
                    {% if app.user %}
                        <li class="nav-item"><a href="{{ path('app_profil') }}" class="nav-link">Profil</a></li>
                        <li class="nav-item"><a href="{{ path('app_publication') }}" class="nav-link">Mes publications</a></li>
                        <li class="nav-item"><a href="{{ path('app_logout') }}" class="nav-link">Déconnexion</a></li>
                    {% else %}
                        <li class="nav-item"><a href="{{ path('app_inscription') }}" class="nav-link">Inscription</a></li>
                        <li class="nav-item"><a href="{{ path('app_login') }}" class="nav-link">Connexion</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header> #}

<header>
    <nav>
        <div class="container">
            <div class="logo">
                <img src="{{ asset('images/logo.png') }}" alt="">
            </div>

            <div class="search">
            <input type="search" name="search" id="search" class="form-control">
            <input type="button" value="valider" class="form-control">
            </div>
            
            <div class="nav-item">
                <a href="">Publier</a>
                <a href="">Home</a>
                <a href="">Fil d'actualité</a>
                <a href="">Messagerie</a>
                <a href="">Notifications</a>
                <a href="">Profil</a>

            </div>
        </div>
    </nav>
</header>